<main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center pb-5">
  <div class="col-4">
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @user do |f| %>
      <%= f.text_field :name, placeholder: "ユーザー名", class: "form-control mb-3" %>
      <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-3" %>
      <%= f.password_field :password, placeholder: "パスワード", class: "form-control mb-3" %>
      <%= f.password_field :password_confirmation, placeholder: "パスワード（確認用）", class: "form-control mb-3" %>

      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</main>


